@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2922 W Lyndale Street<br />
    Chicago, IL 60647<br />
    <abbr title="Phone">P:</abbr>
    618-246-4929
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:AanderBahn@gmail.com">AanderBahn@gmail.com</a><br />
</address>