@*@Code
        ViewData("Title") = "Home"
    End Code*@

<br />
<div class="jumbotron mainBanner">
    <h1>ArtSmart</h1>
    <p class="lead">We put the art in smart.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Tech your art! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="SaleBanner">
            <h2 class="salePitch">Whats hot in Tech</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-8">
        <p>
            ArtSmart is commited to those that are commited to art. But not just any art, the fututre of art! We
            want to put the power of technology in the hands aspiring artist. With the power of technology 

        </p>
    </div>
</div>


<!--


<div class="row prime">
    <div class="col-md-3 col-md-offset-1 thumbProduct">
        <img class="thumbnailPic" src="~/Images/EuroUgeeM1000L.jpg" />
        <h4>Product Title</h4>
        <p><a class="btn btn-default" href="">Closer Look &raquo;</a></p>
    </div>
    <div class="col-md-3 thumbProduct">
        <img class="thumbnailPic" src="~/Images/EuroUgeeM1000L.jpg" />
        <h4>Product Title</h4>
        <p><a class="btn btn-default" href="">Closer Look &raquo;</a></p>
    </div>
    <div class="col-md-3 thumbProduct">
        <img class="thumbnailPic" src="~/Images/EuroUgeeM1000L.jpg" />
        <h4>Product Title</h4>
        <p><a class="btn btn-default" href="">Closer Look &raquo;</a></p>
    </div>
</div>

    ---------------------------------------------------------------------------


    <div class="productDetail">

    <div class="row">
        <div class="col-md-6">
            <img class="productImg" src="~/Images/EuroUgeeM1000L.jpg" />
        </div>
        <div class="col-md-6 titleBlock">
            <h1>Product Title</h1>
            <h6>Brand</h6>
            <br />
            <h5>$99.99</h5>
            <h5>Active Area: 10 x 6</h5>
            <h5>Sensitivity: 2048</h5>
            <br />
            <button type="button" class="btn btn-cart">Add to Cart</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h4>Description</h4>
            <p>
                Tursion is making tablets affordable for use by anyone, not just artists. A graphic tablet can be used as a substitute for a mouse, replacing a less natural movement with the more natural movement of the pen on the paper, thereby reducing the chance of Repetitive Strain Injuries, like carpal tunnel syndrome. Of course, it also makes any drawing type of activity, including embedded signatures, simpler and easier to accomplish. Graphic tablets are also great for kids, allowing them to unleash their natural creativity. This high-quality Tursion drawing tablet is priced just right, so everyone can enjoy the benefits of a graphic tablet. It includes several software utilities, such as PenSigner and PenMail, which allows you to use handwritten signatures, adding a personal touch to what is usually thought of as an impersonal medium. Easy to install and to use, once you try one you'll wonder how you ever got along without one! Professional 9" graphic tablet, widescreen mode. Accelerate the performance of illustrating, sketching, industrial design, photo editing and webpage design. Included Software: Annotation for Word - Mark up word processor documents in freehand (compatible only with Windows 2000/XP). PenCommander - Run any program or menu command using simple motions (compatible only with Windows 2000/XP). PenSigner - Insert signatures or simple drawings into documents (compatible only with Windows 2000/XP/Vista/7). PenMail - Compose and send handwritten e-mail messages (compatible only with Windows 2000/XP/Vista/7). PenNotice - Capture screen shots and annotate documents in Microsoft Office or Microsoft Whiteboard (compatible only with Windows 2000/XP/Vista/7). Included in the Box: 1x Graphic tablet with attached 53" USB cable (USB A male) 1 x Drawing pen (stylus) 1x Pen stand 1x 5.25" CD with drivers, manuals, software 1x Quick Reference Guide 1x AAA battery 5x Spare pen tips
            </p>
            <br />
        </div>
    </div>

</div>


    ------------------------------------------------------------------------------



    <div id="productSection">
    <div class="row">
        <article class="product col col-med-6 col-md-offset-2" ng-repeat="product in proD.products">
            <div class="col-md-3 thumbProduct">
                <product-template></product-template>
            </div>
        </article>
    </div>
 </div>

-->
